# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

.vscode/
.idea/
.DS_Store

# Data & Models (DVC로 관리할 대상. DVC 쓸지말지 고민 중...)
# models/ 

# 대회 데이터셋 유출하지 않도록!
/data/ 

*.log

# 쥬피터 노트북 체크포인트 무시
.ipynb_checkpoints

/wandb/

!.env.template

